* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body,h1,h2,h3,h4,h5,h6,p,img,span,a {
    margin: 0px;
    padding: 0px;
}
ul {
    padding-left: 0px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.nav {
    padding: 12px 0px;
}
.menu,.contacts {
    display: flex;
    justify-content: space-between;
    color: #222;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    list-style: none;
    text-transform: uppercase;
}
.item__link,.contact__link {
    text-decoration: none;
    color: inherit;
}
.main-image {
    width: 600px;
    height: 400px;
    object-fit: cover;
}
.about__wrapper{
    display: flex;
    justify-content: space-around;
}
.head__text {
    font-weight: 500;
    font-size: 75px;
    line-height: 85px;
    color: #9999;
}
.title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #9999;
    margin-top: 60px;
}
.contacts {
    display: block;
}
.contact__link {
    padding: 12px 0px;
    display: block;
    max-width: 200px;
}
.contacts > li {
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}
.mail {
    background-image: url(../img/akar-icons_envelope.svg);
}
.phone {
    background-image: url(../img/akar-icons_phone.svg);
}
.about {
    margin-top: 60px;
    font-size: 35px;
    line-height: 40px;
    color: #222;
    font-weight: 500;
}
.exper,.education {
    color: #222;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}
.language-js.hljs.language-javascript {
    text-transform: lowercase;
}
.hljs-keyword {
    color:blue ;
}
.hljs-title.function_ {
    color: green;
}
.footer {
    margin-top: 40px;
    background-color: #f6f6f6;
    padding: 40px 0px;
}
.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.git_link,.time {
    text-decoration: none;
    color: #222;
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
}
.rs-image {
    width: 100px;
    height: 80px;
    object-fit: contain;
}
@media  (max-width:992px){
    .container {
        max-width: 720px;
    }
    .about__wrapper {
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width:768px) {
    .container{
        max-width: 720px;
        padding: 0px 15px;
    }
    .main-image {
        width: 100%;
    }
    .code-wrap {
        font-size: 13px;
        line-height: 15px;
    }
    .menu {
        flex-wrap: wrap;
    }
    .head__text {
        font-size: 33px;
        line-height: 40px;
    }
}
